body{
    color:black
}

section{
    background-color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

}

section{
    display: flex;
    justify-content: center;
}