body{
    color:black
    background-color: yellow;
}

section{
    background-color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    box-sizing: border-box;

}
